{% extends "maestra.html" %}
{% block titulo %} Home {% endblock %}
{% block contenido %}
<h1>Hola :v Si vez esto es porque logre subir mi proyecto</h1>
<h2>Esta vez si tiene conexion a base de datos</h2>
<h3>Cualquier cosa llamen a l de sistemas atte: El josue</h3>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftenor.com%2Fsearch%2Fgato-computadora-gifs&psig=AOvVaw2xgnOcDvlKEUYpK4iy09I_&ust=1683051704149000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMCo-Kne1P4CFQAAAAAdAAAAABAE">
{% endblock%}
